POSTGRES_USER=olist_user
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=olist_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

TEST_POSTGRES_USER=olist_user
TEST_POSTGRES_PASSWORD=your_password_here
TEST_POSTGRES_DB=olist_test
TEST_POSTGRES_HOST=localhost
TEST_POSTGRES_PORT=5432